<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.cglab.smartplace.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutCheck</display-name>
    <servlet-name>LogoutCheck</servlet-name>
    <servlet-class>com.cglab.smartplace.LogoutCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutCheck</servlet-name>
    <url-pattern>/LogoutCheck.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menu1by1Toby2</display-name>
    <servlet-name>menu1by1Toby2</servlet-name>
    <servlet-class>com.cglab.smartplace.menu1by1Toby2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menu1by1Toby2</servlet-name>
    <url-pattern>/menu1by1Toby2.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
    </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Equipment_count</display-name>
    <servlet-name>Equipment_count</servlet-name>
    <servlet-class>com.cglab.smartplace.Equipment_count</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Equipment_count</servlet-name>
    <url-pattern>/Equipment_count.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Equipment_count2</display-name>
    <servlet-name>Equipment_count2</servlet-name>
    <servlet-class>com.cglab.smartplace.Equipment_count2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Equipment_count2</servlet-name>
    <url-pattern>/Equipment_count2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Occupation_count</display-name>
    <servlet-name>Occupation_count</servlet-name>
    <servlet-class>com.cglab.smartplace.Occupation_count</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Occupation_count</servlet-name>
    <url-pattern>/Occupation_count.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Occupation_count2</display-name>
    <servlet-name>Occupation_count2</servlet-name>
    <servlet-class>com.cglab.smartplace.Occupation_count2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Occupation_count2</servlet-name>
    <url-pattern>/Occupation_count2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menu1by2Toby3</display-name>
    <servlet-name>menu1by2Toby3</servlet-name>
    <servlet-class>com.cglab.smartplace.menu1by2Toby3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menu1by2Toby3</servlet-name>
    <url-pattern>/menu1by2Toby3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menu1by3Toby4</display-name>
    <servlet-name>menu1by3Toby4</servlet-name>
    <servlet-class>com.cglab.smartplace.menu1by3Toby4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menu1by3Toby4</servlet-name>
    <url-pattern>/menu1by3Toby4.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menu1by4Toby5</display-name>
    <servlet-name>menu1by4Toby5</servlet-name>
    <servlet-class>com.cglab.smartplace.menu1by4Toby5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menu1by4Toby5</servlet-name>
    <url-pattern>/menu1by4Toby5.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menu1by5Toby6</display-name>
    <servlet-name>menu1by5Toby6</servlet-name>
    <servlet-class>com.cglab.smartplace.menu1by5Toby6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menu1by5Toby6</servlet-name>
    <url-pattern>/menu1by5Toby6.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalInsertData</display-name>
    <servlet-name>TotalInsertData</servlet-name>
    <servlet-class>com.cglab.smartplace.TotalInsertData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalInsertData</servlet-name>
    <url-pattern>/TotalInsertData.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelController</display-name>
    <servlet-name>ExcelController</servlet-name>
    <servlet-class>com.cglab.smartplace.ExcelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelController</servlet-name>
    <url-pattern>/ExcelController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menu1by6Toby7</display-name>
    <servlet-name>menu1by6Toby7</servlet-name>
    <servlet-class>com.cglab.smartplace.menu1by6Toby7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menu1by6Toby7</servlet-name>
    <url-pattern>/menu1by6Toby7.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportSearchController</display-name>
    <servlet-name>ReportSearchController</servlet-name>
    <servlet-class>com.cglab.smartplace.ReportSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportSearchController</servlet-name>
    <url-pattern>/ReportSearchController.do</url-pattern>
  </servlet-mapping>
</web-app>